* {
    padding: 0;
    margin: 0;
}

.main-nav{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: green;
    color: white;
    position: relative;
}

.nav-menu {
    display: flex;
    gap: 1.5vw;
    list-style: none;
}

.nav-toggle {
    display: none;
    padding: 0.5em;
}

.nav-brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu li {
    padding: 0.4em;
    text-align: right;
}

.nav-menu a {
    text-decoration: none;
    color: white;
}

.nav-menu li:hover {
    background-color: rgb(2, 168, 168);
}

.nav-burger-menu {
    display: none;
}

@media (min-width: 768px) {
    .nav-burger-menu {
        display: none !important;
    }
    .nav-menu{
        display: flex;
    }    
}

@media (max-width: 768px) {
    .nav-toggle {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        flex-direction: column;
        background: none;
        border: none;
        cursor: pointer;
    }

    .nav-toggle span {
        background-color: rgba(255, 255, 255, 0.869);
        height: 0.2em;
        width: 2em;
        display: flex;
    }

    .nav-toggle:hover {
        background-color: rgb(2, 172, 172);
    }

    .main-nav button {
        gap: 0.5em;
    }

    .nav-menu {
        display: none;
    }

    .nav-menu.show {
        display: flex;
        flex-direction: column;
        background: teal;
        position: relative;
    }

    .nav-burger-menu.show {
        margin: 0;
        padding: 0;
        position: relative;
        width: 100vw;
    }
}


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}